body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  margin-bottom: 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bin {
  transition: transform
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.table-showing {
  float: right;
  color: slategrey;
}

.get-my-results-button {
  margin:15px;
  min-width:175px;
  background-color: #E9339B!important;
  border-color: #E9339B!important;
  border-radius: 50px!important;
  width: 580px;
  padding: 0;
  height: 58px;
}

.get-my-results-button:focus {
  border-color: #E9339B!important;
}

.search-container {
  outline: 0;
  float: left;
  border: 1px solid #c9c9c9;
  padding: 10px;
  margin: 10px auto;
  width: 100%;
}

.search-container > .search-box {
  outline: 0;
  height: 22px;
  width: 100%;
  margin: auto;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.table-search-highlight {
  background-color:gold;
}

.table-row-no {
  background-color: #db073d !important;
  color: #fff;
}

.table-pagination {
  width: 100%;
  display: inline-block;
}